		<nav class="navbar navbar-inverse">
  			<div class="container-fluid">
    			<div class="navbar-header">
     				 <a class="navbar-brand" href="index.html">
     				 	<img src="images/logo.jpg" class="img-rounded" alt="Cinque Terre" width="200" height="70">
     				 </a>
    			</div>
		    	<ul class="nav navbar-nav">
		      		<li routerLinkActive="active"><a href="/">Home</a></li>
		      		<li><a>Product view</a></li>
		      		<li><a href="help.html">Help</a></li>
		     		 
		    	</ul>
		    	<ul class="nav navbar-nav navbar-right">	
		    		<li><a *ngIf="!showLogout" routerLink="/myaccount"><span class="glyphicon glyphicon-open"></span> <button type="button" class="btn btn-primary">Post an Ad</button></a></li>
		    		<li><a *ngIf="!showLogout" routerLink="/myaccount" routerLinkActive="active"> <span class="glyphicon glyphicon-briefcase"></span> My Account</a></li>

							<li *ngIf="showLogout"><a href="#" data-toggle="modal" data-target="#sign"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
		      				<li *ngIf="showLogout"><a href="#" data-toggle="modal" data-target="#log"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>					
					<li *ngIf="!showLogout"><a href="#" (click)="logoutUser()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>				
				</ul>
  			</div>
		</nav>
		<login (childEvent)="childData=$event"></login>
		<register></register>