<div id="log" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="form-group" id="login">
			    <form #loginForm="ngForm" novalidate>
					<h1>Login Form</h1>
					<div [hidden]="showError" id="userExists" class="alert alert-danger">
  					<strong>Invalid credentials, please try again.</strong> 
					</div>
					<div [hidden]="showSuccess" id="userSuccess" class="alert alert-success">
  					<strong>Successfully logged in. Redirecting to home page...</strong> 
					</div>
					<div id="uname">
						<input #username #usernameRef="ngModel" name="username" required class="form-control" type="text" placeholder="Username" required="" id="username" ngModel/>
					</div>
					<div id="usernameLoginError" *ngIf="usernameRef.errors" [hidden]="usernameRef.untouched && (usernameRef.valid || usernameRef.pristine)" class="alert alert-danger">
							Please a username.
					</div>
					<div>
						<input #password required #passwordRef="ngModel" class="form-control" name="password" type="password" placeholder="Password" required="" id="password" ngModel/>
					</div>
					<div id="usernameLoginError" *ngIf="passwordRef.errors" [hidden]="passwordRef.untouched && (passwordRef.valid || passwordRef.pristine)" class="alert alert-danger">
							Please a password.
					</div>
					<div>
						<input id="loginbutton" [disabled]="!loginForm.form.valid" type="button" (click)="loginUser(username.value,password.value)" value="Log in"><br>
						<a data-dismiss="modal" id="closeModal" data-dismiss="modal"></a>
						<a href="#sign" data-target="#sign" data-toggle="modal" data-dismiss="modal">Register</a>
					</div>
				</form>
			</div>
		  </div>
		</div>