<br><br>
		<div class="footer">
		    <div  class="row">
                <div class="col-md-4" id="contact">
                    Contact us :<br><hr>
                    <span class="glyphicon glyphicon-envelope"> Customersupport@iwantthat.com</span><br>
                    <span class="glyphicon glyphicon-phone-alt"> 9766110856/98872981</span><br>
                    <a id="web" href="#"><span class="glyphicon glyphicon-bookmark"> https://www.iwantthat.com</span></a>


                </div>
                <div class="col-md-4" id="contact2">
           
                    Connect to us Socially:<br><hr>
                    <div class="row">
                    <div class="col-md-2">
                      <a id="" href="#"><img class="img-circle" style="height:50px; width:50px; " src="images/fb.png" alt="Nature" ></a>
                    </div>
                    <div class="col-md-2">
                     <a id="" href="#"><img class="img-circle" style="height:50px; width:50px; " src="images/twit.jpg" alt="Nature" ></a>
                     </div>
                     <div class="col-md-2">
                    <a id="" href="#"> <img class="img-circle" style="height:50px; width:50px; " src="images/insta.jfif" alt="Nature" ></a>
                    </div>
                    <div class="col-md-2">
                     <a id="" href="#"><img class="img-circle" style="height:50px; width:50px; " src="images/ln.png" alt="Nature" ></a>
                     </div>
                     <div class="col-md-2">
                     <a id="" href="#"><img class="img-circle" style="height:50px; width:50px; " src="images/git.png" alt="Nature" ></a>
                     </div>
                     <div class="col-md-2">
                     <a id="" href="#"><img class="img-circle" style="height:50px; width:50px; " src="images/gplus.png" alt="Nature" ></a>
                     </div>
                </div>

                </div>
                  <div class="col-md-4">
                     You will find us here:<br><hr>
                     <!-- <span class="glyphicon glyphicon-object-align-vertical"> Sr. No. 33/1, Opposite Chhatrapati Shivaji Sports Complex, near Octroi Naka, Balewadi, Pune, Maharashtra 411045</span><br><br> -->
                     <span class="glyphicon glyphicon-home"> A804, Off Wakad Hinjewadi Road, Opp Sukhwani Petrol Pump, Wakad, Pune, 411057</span>
                </div>
          </div>
          <div class=" row copyright">
          		&copy; I want that pvt ltd.
          </div>
		</div>